@media only screen and (max-width: 600px){
	article{
		text-align:center;
	}
	input{
		padding:0.5em;width:60vw;
	}	
	button{
		padding:0.5em;width:30vw;
	}		
	/*div{
		overflow-y:scroll;}*/

	footer{
		background-color:var(--border);border-top:1px solid var(--bckgrnd-color);
		/*display:flex;*/
		flex-direction:column;
		justify-content:center;
	}

}
@media only screen and (max-width: 400px){
	article{
		text-align:center;
	}
	input{
		padding:0.5em;width:60vw;
	}	
	button{
		padding:0.5em;width:30vw;
	}		
	/*div{
		overflow-y:scroll;}*/

	footer{
		background-color:var(--border);border-top:1px solid var(--bckgrnd-color);
		/*display:flex;*/
		flex-direction:column;
		justify-content:center;
	}

}

