table tr:nth-child(2) td:nth-child(1):hover {
	background-color:var(--Halogenos);
}

/*editing verticaly*/
td:nth-child(1):hover {
	background-color:var(--MetalAlcalino); 
}

/*tabla 2 efes primera celda 1era fila*/

.efes tr:nth-child(2) td:nth-child(1) {
	background-color:var(--Lantanidos1);
}

.efes tr:nth-child(2) td:nth-child(1):hover {
	background-color:var(--Lantanidos);
}



/*seguimo verical*/
td:nth-child(2):hover {
	background-color:var(--tierraAlcalina);
}
td:nth-child(3):hover {
	background-color:var(--Metaloides);
}
td:nth-child(4):hover {
	background-color:var(--Metaloides);
}
td:nth-child(5):hover {
	background-color:var(--Metaloides);
}
td:nth-child(6):hover {
	background-color:var(--Metaloides);
}
td:nth-child(7):hover {
	background-color:var(--Metaloides); 
}

td:nth-child(8):hover {
	background-color:var(--Metaloides);
}
td:nth-child(9):hover {
	background-color:var(--Metaloides);
}
td:nth-child(10):hover {
	background-color:var(--Metaloides);
}
td:nth-child(11):hover {
	background-color:var(--Metaloides);
}
td:nth-child(12):hover {
	background-color:var(--Metaloides);
}

/**/
td:nth-child(13):hover {
	background-color:var(--Actinidos);
}
tr:nth-child(3) td:nth-child(13):hover {
	background-color:var(--Metaloides);
}
tr:nth-child(8) td:nth-child(13):hover {
	background-color:var(--Desconocidas);
}

/**/
tr:nth-child(3) td:nth-child(14):hover{
	background-color:var(--NoMetales);
}
tr:nth-child(4) td:nth-child(14):hover{
	background-color:var(--Metaloides);
}
tr:nth-child(5) td:nth-child(14):hover{
	background-color:var(--Metaloides);
}

tr:nth-child(6) td:nth-child(14):hover{
	background-color:var(--Actinidos);
}
tr:nth-child(7) td:nth-child(14):hover{
	background-color:var(--Actinidos);
}

/**/
tr:nth-child(8) td:nth-child(14):hover {
	background-color:var(--Desconocidas);
}
/**/
td:nth-child(15):hover{
	background-color:var(--NoMetales);
}

tr:nth-child(5) td:nth-child(15):hover{
	background-color:var(--Metaloides);
}

tr:nth-child(6) td:nth-child(15):hover{
	background-color:var(--Metaloides);
}

tr:nth-child(7) td:nth-child(15):hover{
	background-color:var(--Actinidos);
}

tr:nth-child(8) td:nth-child(15):hover {
	background-color:var(--Desconocidas);
}

/**/
td:nth-child(16):hover {
	background-color:var(--NoMetales);
}

tr:nth-child(6) td:nth-child(16):hover {
	background-color:var(--Metaloides);
}

tr:nth-child(7) td:nth-child(16):hover {
	background-color:var(--Metaloides);
}

tr:nth-child(8) td:nth-child(16):hover {
	background-color:var(--Desconocidas);
}
/**/


/**/
td:nth-child(17):hover {
	background-color:var(--Halogenos);
}

tr:nth-child(8) td:nth-child(17):hover {
	background-color:var(--Desconocidas);
}
/**/

tr:nth-child(8) td:nth-child(18):hover {
	background-color:var(--Desconocidas);
}


td:nth-child(18):hover {
	background-color:var(--GNobles);
}

.efes tr:nth-child(2) td:hover {
	background-color:var(--Lantanidos);
}
.efes tr:last-child td:hover {
	background-color:var(--Actinidos);
}



/*

sin hover---------------------------------------------------------------------


*/


table tr:nth-child(2) td:nth-child(1) {
	background-color:var(--Halogenos1)
}

td:nth-child(1){
	background-color:var(--MetalAlcalino1);
}

td:nth-child(2) {
	background-color:var(--tierraAlcalina1);
}
td:nth-child(3) {
	background-color:var(--Metaloides1);
}
td:nth-child(4) {
	background-color:var(--Metaloides1);
}
td:nth-child(5) {
	background-color:var(--Metaloides1);
}
td:nth-child(6) {
	background-color:var(--Metaloides1);
}
td:nth-child(7) {
	background-color:var(--Metaloides1);
}

td:nth-child(8) {
	background-color:var(--Metaloides1);
}
td:nth-child(9) {
	background-color:var(--Metaloides1);
}
td:nth-child(10) {
	background-color:var(--Metaloides1);
}
td:nth-child(11) {
	background-color:var(--Metaloides1);
}
td:nth-child(12) {
	background-color:var(--Metaloides1);
}

/**/
td:nth-child(13) {
	background-color:var(--Actinidos1);
}
tr:nth-child(3) td:nth-child(13) {
	background-color:var(--Metaloides1);
}
tr:nth-child(8) td:nth-child(13) {
	background-color:var(--Desconocidas1);
}

/**/
tr:nth-child(3) td:nth-child(14){
	background-color:var(--NoMetales1);
}
tr:nth-child(4) td:nth-child(14){
	background-color:var(--Metaloides1);
}
tr:nth-child(5) td:nth-child(14){
	background-color:var(--Metaloides1);
}

tr:nth-child(6) td:nth-child(14){
	background-color:var(--Actinidos1);
}
tr:nth-child(7) td:nth-child(14){
	background-color:var(--Actinidos1);
}

/**/
tr:nth-child(8) td:nth-child(14) {
	background-color:var(--Desconocidas1);
}
/**/
td:nth-child(15){
	background-color:var(--NoMetales1);
}

tr:nth-child(5) td:nth-child(15){
	background-color:var(--Metaloides1);
}

tr:nth-child(6) td:nth-child(15){
	background-color:var(--Metaloides1);
}

tr:nth-child(7) td:nth-child(15){
	background-color:var(--Actinidos1);
}

tr:nth-child(8) td:nth-child(15) {
	background-color:var(--Desconocidas1);
}

/**/
td:nth-child(16) {
	background-color:var(--NoMetales1);
}

tr:nth-child(6) td:nth-child(16) {
	background-color:var(--Metaloides1);
}

tr:nth-child(7) td:nth-child(16) {
	background-color:var(--Metaloides1);
}

tr:nth-child(8) td:nth-child(16) {
	background-color:var(--Desconocidas1);
}
/**/


/**/
td:nth-child(17) {
	background-color:var(--Halogenos1);
}

tr:nth-child(8) td:nth-child(17) {
	background-color:var(--Desconocidas1);
}
/**/

tr:nth-child(8) td:nth-child(18) {
	background-color:var(--Desconocidas1);
}


td:nth-child(18) {
	background-color:var(--GNobles1);
}

.efes tr:nth-child(2) td{
	background-color:var(--Lantanidos1);
}
.efes tr:last-child td{
	background-color:var(--Actinidos1);
}